* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* MOBILE FIRST */
/* NAV */

header {
    width: 100%;
    height: 80px;
    background: #e5e0e0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.ul_nav {
    position: fixed;
    top: -100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.ul_nav_desktop {
    display: none;
}

#menu-title {
    color: #ffffff;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    letter-spacing: 5px;
}

.ul_nav a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;

}

.container-buttons-nav {
    display: flex;
    justify-content: center;
}

.btn-connection {
    width: 100px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    background: white;
    cursor: pointer;
}

.btn-register {
    width: 100px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    background: black;
    cursor: pointer;
    color: white;
}

.btn-deconnection {
    width: 100px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    background: white;
    cursor: pointer;
}

.btn-deconnection:hover {
    border: 1px solid white;
    background: black;
    color: white;
    transition: 0.3s ease-in;
}

.btn-connection:hover {
    border: 1px solid white;
    background: black;
    color: white;
    transition: 0.3s ease-in;
}

.btn-register:hover {
    border: 1px solid black;
    background: white;
    color: black;
    transition: 0.3s ease-in;
}

.ul_nav li {
    list-style: none;
    margin-bottom: 20px;
}

.ul_nav.active {
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    transition: 0.7s ease-in-out;
    width: 100%;
    text-align: center;
    z-index: 100;
}

#container-list-nav {
    top: 25px;
    right: 10px;
    position: relative;
    height: 80px;
    margin: 0 10px;
}

/* Hamburger */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #232419;
}

.bar:nth-child(1).active {
    background-color: #fff;
}

.bar:nth-child(3).active {
    background-color: #fff;
}

.burger.active {
    position: relative;
    z-index: 101;
}

.burger.active .bar:nth-child(2) {
    opacity: 0;
}

.burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

#container-logo {
    display: flex;
    align-items: center;
    height: 80px;
    margin: 0 10px;
}

#logo {
    width: 180px;
}




/* DESKTOP */

body {
    background-color: #232419;
    color: #fff;
}

::-webkit-scrollbar {
    background-color: rgb(5, 5, 5);
}

::-webkit-scrollbar-thumb {
    background-color: #232419;
}

#buttons-admin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
}

#utilisateurs-button,
#articles-button,
#commentaires-button {
    width: 25%;
    padding: 1%0%1%0%;
    background-color: #ffffff;
    font-size: 1.4em;
    border: solid 1px #232419;
    transition: background-color 0.5s ease;

}

#utilisateurs-button:hover,
#articles-button:hover,
#commentaires-button:hover {
    width: 25%;
    padding: 1%0%1%0%;
    color: #ffffff;
    border: solid 1px;
    background-color: #232419;
    font-size: 1.4em;
    cursor: pointer;
}

#user-place h2 {
    text-align: center;
    margin: 2%;
    text-transform: uppercase;
}

/*AFFICHAGE DES UTILISATEURS DANS PANNEAU ADMIN*/

.user {
    border: solid 1px;
    width: 90%;
    margin: 1%5%1%5%;
    padding: 1%0%1%5%;
    font-size: 1.1em;
}

.user .id,
.user .login,
.user .nom,
.user .prenom,
.user .rang {
    margin: 0%0%1%0%;
}

.user select {
    background-color: #232419;
    margin: 0%2%0%0%;
    padding: 1%3%1%3%;
    color: #ffffff;
    font-size: 1em;
}

.user .id_user {
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 5%;
    border: none;
    padding: 1%;
}

.user .del {
    background-color: #232419;
    color: #fff;
    border: solid 1px;
    padding: 1%3%1%3%;
    font-size: 1em;
    transition: background-color 0.5s ease;
}

.user .del:hover {
    background-color: rgb(75, 9, 9);
    cursor: pointer;
    border: none;
}

.user .update {
    background-color: #232419;
    color: #fff;
    border: solid 1px;
    padding: 1%3%1%3%;
    font-size: 1em;
    transition: background-color 0.5s ease;
}

.user .update:hover {
    background-color: black;
    cursor: pointer;
    border: none;
}

#form_role {
    padding: 0%;
    margin: 1%0%1%0%;
}

.admin-article {
    width: 98%;
    padding: 1%;
    border: solid 1px;
    margin: 1%;
}

.updateArticle {
    background-color: #232419;
    color: #fff;
    border: solid 1px;
    padding: 1%;
    margin: 1%0%2%0%;
    text-transform: uppercase;
}

.updateArticle:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.del-article {
    background-color: #232419;
    color: #fff;
    border: solid 1px;
    padding: 1%;
    margin: 0%0%2%1%;
    text-transform: uppercase;
}

.del-article:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.manage-content {
    width: 100%;
}

/*AFFICHAGE DES ARTICLES DANS PANNEAU ADMIN*/

.admin-article .titre_article {
    background-color: #373828;
    color: #ffffff;
    padding: 1%;
    margin: 1%;
    border: none;
    font-size: 1em;
    transition: border 1s ease;
}

.admin-article .titre_article:hover {
    border: solid 1px white;
    cursor: pointer;
}

.admin-article .manage-content {
    background-color: #373828;
    color: #ffffff;
    padding: 1%2%1%2%;
    margin: 1%3%1%3%;
    width: 94%;
    height: 25%;
    border: none;
}

.admin-article select {
    background-color: #373828;
    color: #ffffff;
    padding: 1%;
    margin: 1%3%1%2%;
    font-size: 1em;
    border: none;
    cursor: pointer
}

.admin-article label{
    font-family: 'Nunito', sans-serif;
}

.admin-article .manage-content:hover {
    border: solid 1px white;
    cursor: pointer;
}

.updateArticle {
    transition: background-color 1s ease;
}

.updateArticle:hover {
    background-color: #000000;
    border: none;
}

.del-article {
    transition: background-color 1s ease;
}

.del-article:hover {
    background-color: rgb(75, 9, 9);
    border: none;
}

/*AFFICHAGE DES COMMENTAIRES DANS PANNEAU ADMIN*/

.id_comment {
    background-color: #232419;
    color: #ffffff;
    padding: 1%;
    margin: 1%;
    border: solid 1px white;
    font-size: 1em;
    transition: border 1s ease;
}

.titre_commentaire, .login_commentaire, .contenu_commentaire{
    padding: 2%3%2%3%;
    text-align: justify;
}

.del-comment {
    background-color: #232419;
    color: #fff;
    border: solid 1px;
    padding: 2%;
    margin: 1%0%1%0%;
    text-transform: uppercase;
    transition: background-color 1s ease;
}

.del-comment:hover {
    background-color: rgb(75, 9, 9);
    border: solid 1px #232419;
    color: #ffffff;
    cursor: pointer;
}



@media (orientation:portrait) {
    header {
        width: 100%;
        height: 160px;
        padding: 30px 0px 30px 30;
        background: #ffffff;
        border-bottom: 1px solid black;
        border-top: 2px solid gray;

    }

    #container-list-nav .burger{
        width:200px;
    }

    .bar{
        display:block;
        width: 100px;
        height: 5px;
        margin: 10px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #232419;
    }

    .burger {
        display: block;
        margin:0px 30px 60px 30px;
        padding:5%0%0%0%;
    }

    .bar{
        display:block;
        width: 100px;
        height: 6px;
        margin: 15px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #232419;
    }
    
    .bar:nth-child(1).active{
        background-color: #c73d3d;
    }
    .bar:nth-child(3).active{
        background-color: #50a7ad;
    }
    
    .burger.active {
        position: relative;
        z-index: 101;
    }
    
    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .burger.active .bar:nth-child(1){
        transform: translateY(30px) rotate(45deg);
    }
    
    .burger.active .bar:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
    }
    .ul_nav {
        display: block;
        padding:5%0%0%0%;
    }


    .ul_nav_desktop {
        display: none;
        list-style: none;
        font-family: 'Nunito', sans-serif;
    }

    .ul_nav li {
        align-self: center;
        
    }

    .ul_nav li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 4em;
        margin:10%0%;
    }

    .btn-register,
    .btn-connection,
    .btn-deconnection {
        padding: 8px;
        margin: 10%;
    }

    .btn-deconnection {
        width: 400px;
        font-size: 1em;
        color: black;
        font-size: 4em;
    }



    .btn-deconnection:hover {
        border: 1px solid black;
        background: white;
        color: black;
        transition: 0.3s ease-in;
    }


    ::-webkit-scrollbar {
        background-color: rgb(5, 5, 5);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #232419;
    }
    
    #buttons-admin {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .btn-register,
    .btn-connection,
    .btn-deconnection {
        padding: 8px;
        margin: 0;
    }

    #utilisateurs-button,
    #articles-button,
    #commentaires-button {
        border: solid 1px  #232419;
        padding:2%;
        font-size: 4em;
        height:300px;
        cursor: pointer;
        width: 90%;
        margin:3%5%3%5%;
    }
    
    #utilisateurs-button:hover,
    #articles-button:hover,
    #commentaires-button:hover {
        width: 90%;
        padding: 1%0%1%0%;
        color: #ffffff;
        border: solid 1px;
        background-color: #232419;
        font-size: 4em;
        cursor: pointer;
        margin:3%5%3%5%;
    }
    
    #user-place h2 {
        text-align: center;
        margin: 2%;
        text-transform: uppercase;
    }
    
    /*AFFICHAGE DES UTILISATEURS DANS PANNEAU ADMIN*/
    
    .user {
        border: solid 1px;
        width: 90%;
        margin: 2%5%2%5%;
        padding: 2%0%2%5%;
        font-size: 1.2em;
    }
    
    .user .id,
    .user .login,
    .user .nom,
    .user .prenom,
    .user .rang {
        margin: 0%0%1%0%;
    }
    
    .user select {
        background-color: #232419;
        margin: 0%2%0%0%;
        padding: 1%3%1%3%;
        color: #ffffff;
        font-size: 2.5em;
    }
    
    .user .id_user {
        background-color: black;
        color: white;
        border-radius: 50%;
        text-align: center;
        width: 5%;
        border: none;
        padding: 1%;
    }
    
    .user .del {
        background-color: #232419;
        color: #fff;
        border: solid 1px;
        padding: 1%3%1%3%;
        font-size: 2.5em;
        margin:2%0%2%0%;
        transition: background-color 0.5s ease;
    }
    
    .user .del:hover {
        background-color: rgb(75, 9, 9);
        cursor: pointer;
        border: none;
    }
    
    .user .update {
        background-color: #232419;
        color: #fff;
        border: solid 1px;
        padding: 1%3%1%3%;
        font-size: 2.5em;
        transition: background-color 0.5s ease;
    }
    
    .user .update:hover {
        background-color: black;
        cursor: pointer;
        border: none;
    }
    
    #form_role {
        padding: 0%;
        margin: 1%0%1%0%;
    }
    
    .admin-article {
        width: 98%;
        padding: 1%;
        border: solid 1px;
        margin: 1%;
    }
    
    .updateArticle {
        background-color: #232419;
        color: #fff;
        border: solid 1px;
        padding: 1%;
        margin: 1%0%2%0%;
        text-transform: uppercase;
    }
    
    .updateArticle:hover {
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
    }
    
    .del-article {
        background-color: #232419;
        color: #fff;
        border: solid 1px;
        padding: 1%;
        margin: 0%0%2%1%;
        text-transform: uppercase;
    }
    
    .del-article:hover {
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
    }
    
    .manage-content {
        width: 100%;
    }
    
    /*AFFICHAGE DES ARTICLES DANS PANNEAU ADMIN*/
    
    .admin-article{
        margin-top: 5%;
    }
    .admin-article .titre_article {
        background-color: #373828;
        color: #ffffff;
        padding: 1%;
        margin: 1%;
        border: none;
        font-size: 2.5em;
        transition: border 1s ease;
    }

    #user-place h2{
        font-size:2em;
    }
    
    .admin-article .titre_article:hover {
        border: solid 1px white;
        cursor: pointer;
    }
    
    .admin-article .manage-content {
        background-color: #373828;
        color: #ffffff;
        padding: 1%2%1%2%;
        margin: 1%3%1%3%;
        width: 94%;
        height: 25%;
        border: none;
    }
    
    .admin-article select {
        background-color: #373828;
        color: #ffffff;
        padding: 1%;
        margin: 1%3%1%2%;
        font-size: 2.8em;
        border: none;
        cursor: pointer;
    }

    .admin-article label{
        font-size: 2.8em;
        font-family: 'Nunito', sans-serif;
        margin:4%0%2%5%;
    }
    .admin-article .manage-content:hover {
        border: solid 1px white;
        cursor: pointer;
    }
    
    .updateArticle {
        transition: background-color 1s ease;
        font-size: 2em;
        margin:2%;
    }
    
    .updateArticle:hover {
        background-color: #000000;
        border: none;
    }
    
    .del-article {
        transition: background-color 1s ease;
        font-size: 2.5em;
    }
    
    .del-article:hover {
        background-color: rgb(75, 9, 9);
        border: none;
    }
    
    /*AFFICHAGE DES COMMENTAIRES DANS PANNEAU ADMIN*/
    
    .id_comment {
        background-color: #232419;
        color: #ffffff;
        padding: 2%;
        margin: 2%;
        border: solid 1px white;
        font-size: 1.3em;
        transition: border 1s ease;
    }
    

    .titre_commentaire, .login_commentaire, .contenu_commentaire{
        text-align: justify;
    }
    
    .del-comment {
        background-color: #232419;
        color: #fff;
        border: solid 1px;
        padding: 1%;
        text-transform: uppercase;
        transition: background-color 1s ease;
        font-size: 2.5em;
        margin:2%0%2%0%;
    }
    
    .del-comment:hover {
        background-color: rgb(75, 9, 9);
        border: solid 1px #232419;
        color: #ffffff;
        cursor: pointer;
    }

    #buttons-admin {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 2%;
    }
    
    #utilisateurs-button,
    #articles-button,
    #commentaires-button {
        width: 90%;
        height:300px;
        margin:3%5%3%5%;
        padding: 1%0%1%0%;
        background-color: #ffffff;
        font-size: 3em;
        border: solid 1px #232419;
        transition: background-color 0.5s ease;
    
    }
    
    #utilisateurs-button:hover,
    #articles-button:hover,
    #commentaires-button:hover {
        width: 90%;
        height:300px;
        margin:3%5%3%5%;
        padding: 1%0%1%0%;
        color: #ffffff;
        border: solid 1px;
        background-color: #232419;
        font-size: 3em;
        cursor: pointer;
    }
    
    #user-place h2 {
        text-align: center;
        margin: 2%;
        text-transform: uppercase;
        font-size: 2em;
    }
    
    /*AFFICHAGE DES UTILISATEURS DANS PANNEAU ADMIN*/
    
    .user {
        border: solid 1px;
        width: 90%;
        margin: 1%5%1%5%;
        padding: 3%0%3%5%;
        font-size: 1.1em;
    }
    
    .user .id,
    .user .login,
    .user .nom,
    .user .prenom,
    .user .rang {
        margin: 0%0%1%0%;
    }
    
    .user select {
        background-color: #232419;
        margin: 0%2%0%0%;
        padding: 1%3%1%3%;
        color: #ffffff;
        font-size: 2.5em;
    }
    
    .user .id_user {
        background-color: black;
        color: white;
        border-radius: 50%;
        text-align: center;
        width: 5%;
        border: none;
        padding: 1%;
    }
    
    .user .del {
        background-color: #232419;
        color: #fff;
        border: solid 1px;
        padding: 1%3%1%3%;
        font-size: 2.5em;
        transition: background-color 0.5s ease;
        margin:2%0%2%0%;
    }
    

    
    .user .update {
        background-color: #232419;
        color: #fff;
        border: solid 1px;
        padding: 1%3%1%3%;
        font-size: 2.5em;
        transition: background-color 0.5s ease;
    }
    
    .user .update:hover {
        background-color: black;
        cursor: pointer;
        border: none;
    }
    
    #form_role {
        padding: 0%;
        margin: 1%0%1%0%;
    }

    /*AFFICHAGE DES ARTICLES DANS PANNEAU ADMIN*/
    
    .admin-article {
        margin-top:5%;
    }

    .admin-article label{
        font-size: 2.5em;
    }
    
    .updateArticle {
        background-color: #232419;
        color: #fff;
        border: solid 1px;
        padding: 1%;
        margin: 1%0%2%0%;
        font-size: 2.5em;
        text-transform: uppercase;
    }
    
    .updateArticle:hover {
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
    }
    
    .del-article {
        background-color: #232419;
        font-size: 2.5em;
        color: #fff;
        border: solid 1px;
        padding: 1%;
        margin: 0%0%2%1%;
        text-transform: uppercase;
        color:rgb(255, 52, 52);
        font-weight: 600;
    }
    
    .del-article:hover {
        background-color: rgb(75, 9, 9);
        color: #ffffff;
        cursor: pointer;
    }
    
    .manage-content {
        width: 100%;
    }
    
    .admin-article .titre_article {
        padding: 1%0%1%5%;
        margin: 1%;
        border: none;
        font-size: 2.5em;
        transition: border 1s ease;
        font-family: 'Nunito', sans-serif;
    }
    
    .admin-article .titre_article:hover {
        border: solid 1px white;
        cursor: pointer;
    }
    
    .admin-article .manage-content {
        background-color: #373828;
        color: #ffffff;
        padding: 1%2%1%2%;
        margin: 1%3%1%3%;
        width: 94%;
        height: 25%;
        border: none;
        font-size: 2em;
    }
    
    .admin-article select {
        background-color: #373828;
        color: #ffffff;
        padding: 1%;
        margin: 1%3%1%5%;
        font-size: 2.5em;
        border: none;
        cursor: pointer;
        font-family: 'Nunito', sans-serif;
    }
    
    .admin-article .manage-content:hover {
        border: solid 1px white;
        cursor: pointer;
    }
    
    .updateArticle {
        transition: background-color 1s ease;
        font-size: 2em;
    }
    
    .updateArticle:hover {
        background-color: #000000;
        border: none;
    }
    


    
    /*AFFICHAGE DES COMMENTAIRES DANS PANNEAU ADMIN*/
    
    .id_comment {
        background-color: #232419;
        color: #ffffff;
        padding: 4%;
        margin: 2%;
        border: solid 1px white;
        font-size: 1em;
        transition: border 1s ease;
        text-align: justify;
    }
    
    .titre_commentaire, .login_commentaire, .contenu_commentaire{
        margin: 2%0%2%0%;
    }
    
    .del-comment {
        background-color: #232419;
        color: #fff;
        border: solid 1px;
        padding: 1%;
        margin: 1%0%1%0%;
        text-transform: uppercase;
        transition: background-color 1s ease;
        font-size: 2.5em;
    }
    
    .del-comment:hover {
        background-color: rgb(75, 9, 9);
        border: solid 1px #232419;
        color: #ffffff;
        cursor: pointer;
    }



}

/*.nav {*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/

/*.ul_nav {*/
/*    display: flex;*/
/*    list-style: none;*/
/*}*/

/*.ul_nav li {*/
/*    margin: 0 10px;*/
/*}*/

/*.ul_nav a {*/
/*    text-decoration: none;*/
/*}*/