* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */
/* NAV */

header {
    width: 100%;
    height: 80px;
    background: #e5e0e0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.ul_nav {
    position: fixed;
    top: -100%;
    justify-content: center;
    flex-direction: column;
    display: flex;

}

#menu-title {
    color: #ffffff;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    letter-spacing: 5px;
}
.ul_nav a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;

}

.container-buttons-nav {
    display: flex;
    justify-content: center;
}
.btn-connection {
    width: 100px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    background: white;
    cursor: pointer;
}

.btn-register {
    width: 100px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    background: black;
    cursor: pointer;
    color: white;
}

.btn-connection:hover {
    border: 1px solid white;
    background: black;
    color: white;
    transition: 0.3s ease-in;
}

.btn-register:hover {
    border: 1px solid black;
    background: white;
    color: black;
    transition: 0.3s ease-in;
}

.ul_nav li {
    list-style: none;
    margin-bottom: 20px;
}
.ul_nav.active {
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    transition: 0.7s ease-in-out;
    width: 100%;
    text-align: center;
    z-index: 100;
}

#container-list-nav {
    top: 25px;
    right: 10px;
    position: relative;
    height: 80px;
    margin: 0 10px;
}

/* Hamburger */
.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #232419;
}

.bar:nth-child(1).active{
    background-color: #fff;
}
.bar:nth-child(3).active{
    background-color: #fff;
}

.burger.active {
    position: relative;
    z-index: 101;
}

.burger.active .bar:nth-child(2){
    opacity: 0;
}

.burger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.burger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

#container-logo {
    display: flex;
    align-items: center;
    height: 80px;
    margin: 0 10px;
}

#logo {
    width: 180px;
}


/* FORMULAIRE POST ARTICLE */
#title-form-article {
    padding-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#color-bg {
    width: 100%;
    height: 30%;
    background: #e5e0e0;
    z-index: 0;
}

#form-article {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;

}

#form-article > label {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

#article_title, #article_content {
    padding: 10PX;
}

#form-article > input::placeholder, textarea::placeholder {
    font-family: 'Nunito', sans-serif;
}
textarea {
    resize: vertical;
}

#categorie {
    width: 70%;
}
#envoie {
    align-self: center;
    margin-top: 20px;
    padding: 5px;
    width: 100px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    background: #232419;
    color: #ffffff;
    cursor: pointer;
}

/* TITLE PAGE */

.diagonal {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px 0;
    z-index: -1;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 30px 0;
}

.diagonal::after {
    content: '';
    width: 100%;
    position: absolute;
    background-color: #C8D857;
    inset: 0;
    transform: skewY(-5deg);
}

.title-page {
    position: relative;
    z-index: 1;
}
/* ARTICLES */

.title-article {
    margin: 20px 0;
}
.articles {
    margin: 30px;
}
.title-article {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.container-image-article {
    width: 100%;
}
.image-article{
    max-width: 100%;
    margin-bottom: 10px;
}
.contenu-article {
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    text-align: justify;
    margin-bottom: 10px;
    --max-lines: 3;
    --line-height: 1.4;
    max-height: calc(var(--max-lines) * 1em *var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
}
.date-article {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 0;
}

.categorie-article {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 6px;
    background: #cccccc;
    border-radius: 13px;

}

.button-read {
    appearance: none;
    border: 1px solid black;
    padding: .5rem;
    border-radius: .25rem;
    cursor: pointer;
    margin-right: 5px;
    background: white;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: black;

}

.button-read:hover {
    background: #C8D857;
    border: 1px solid #C8D857;
    transition: 0.2s ease-in;

}

.button-read::before {
    content: "Lire plus";
}

/* ARTICLE UNIQUE */
#container-categorie {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#categorie-unique-article {
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: .7rem;
}

#container-titre {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin: 1rem 0;
}

#contenu-unique-article {
    font-family: 'Nunito', sans-serif;
    margin: 0 30px;
    text-align: justify;
    line-height: 1.4;
}

#container-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#image-article-unique {
    max-width: 350px;
}

#container-info {
    margin: 10px 30px;
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    font-style: italic;
}
#info-unique-article {

}

/* DESKTOP */
/*.nav {*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/

/*.ul_nav {*/
/*    display: flex;*/
/*    list-style: none;*/
/*}*/

/*.ul_nav li {*/
/*    margin: 0 10px;*/
/*}*/

/*.ul_nav a {*/
/*    text-decoration: none;*/
/*}*/