* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */
/* NAV */

header {
    width: 100%;
    height: 80px;
    background: #e5e0e0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.ul_nav {
    position: fixed;
    top: -100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.ul_nav_desktop {
    display: none;
}
#menu-title {
    color: #ffffff;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    letter-spacing: 5px;
}
.ul_nav a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;

}

.container-buttons-nav {
    display: flex;
    justify-content: center;
}
.btn-connection {
    width: 100px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    background: white;
    cursor: pointer;
}
.btn-register {
    width: 100px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    background: black;
    cursor: pointer;
    color: white;
}

.btn-deconnection {
    width: 100px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    background: white;
    cursor: pointer;
}

.btn-deconnection:hover {
    border: 1px solid white;
    background: black;
    color: white;
    transition: 0.3s ease-in;
}

.btn-connection:hover {
    border: 1px solid white;
    background: black;
    color: white;
    transition: 0.3s ease-in;
}

.btn-register:hover {
    border: 1px solid black;
    background: white;
    color: black;
    transition: 0.3s ease-in;
}

.ul_nav li {
    list-style: none;
    margin-bottom: 20px;
}
.ul_nav.active {
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    transition: 0.7s ease-in-out;
    width: 100%;
    text-align: center;
    z-index: 100;
}

#container-list-nav {
    top: 25px;
    right: 10px;
    position: relative;
    height: 80px;
    margin: 0 10px;
}

/* Hamburger */
.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #232419;
}

.bar:nth-child(1).active{
    background-color: #fff;
}
.bar:nth-child(3).active{
    background-color: #fff;
}

.burger.active {
    position: relative;
    z-index: 101;
}

.burger.active .bar:nth-child(2){
    opacity: 0;
}

.burger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.burger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

#container-logo {
    display: flex;
    align-items: center;
    height: 80px;
    margin: 0 10px;
}

#logo {
    width: 180px;
}


/* FORMULAIRE POST ARTICLE */
#title-form-article {
    padding-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#color-bg {
    width: 100%;
    height: 30%;
    background: #e5e0e0;
    z-index: 0;
}

#form-article {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;

}

#form-article > label {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

#article_title, #article_content {
    padding: 10PX;
}

#form-article > input::placeholder, textarea::placeholder {
    font-family: 'Nunito', sans-serif;
}
textarea {
    resize: vertical;
}

#categorie {
    width: 70%;
}
#envoie-commentaire {
    align-self: center;
    margin: 2rem 0;
    padding: 5px;
    width: 100px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    background: #232419;
    color: #ffffff;
    cursor: pointer;
}

.register_form_button {
    align-self: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #232419;
    color: #ffffff;
    cursor: pointer;
    overflow-wrap: break-word;
}

/* TITLE PAGE */

.diagonal {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 30px 0;
}

.title-page {
    position: relative;
    z-index: 1;
}
/* ARTICLES */

.image-article {
    max-width: 100%;
}

.articles {
    margin: 2rem;
}

.title-article {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.container-image-article {
    width: 100%;
}

.contenu-article {
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    text-align: justify;
    margin: 1rem 0;
    --max-lines: 3;
    --line-height: 1.4;
    max-height: calc(var(--max-lines) * 1em *var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
}
.date-article {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 0;
    margin-top: 2px;
}

.categorie-article {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 6px;
    background: #cccccc;
    border-radius: 13px;

}

.button-read {
    appearance: none;
    border: 1px solid black;
    padding: .5rem;
    border-radius: .25rem;
    cursor: pointer;
    margin-right: 5px;
    background: white;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: black;

}

.button-read:hover {
    background: #C8D857;
    border: 1px solid #C8D857;
    transition: 0.2s ease-in;

}

.button-read::before {
    content: "Lire plus";
}

/* ARTICLE UNIQUE */
#container-categorie {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#categorie-unique-article {
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: .7rem;
}

#image-article-unique {
    max-width: 400px;
    margin: 0 10px;
}

#container-titre {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin: 1rem 0;
}

#contenu-unique-article {
    font-family: 'Nunito', sans-serif;
    margin: 0 30px;
    text-align: justify;
    line-height: 1.7;
}

#container-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#container-info {
    margin: 20px 30px;
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    font-style: italic;
    justify-content: end;
}

#auteur {
    font-family: 'Nunito', sans-serif;
    margin: 10px 30px;
    text-align: justify;
    line-height: 1.7;
    background-color: #efefef;
    padding: 30px 20px;
}

#titre-auteur {
    margin-bottom: 20px;
}

/* COMMENTAIRES */
#container-commentaires {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title-comments {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
#comments-input-container {
    margin-top: 20px;
}

#comments-form {
    display: flex;
    flex-direction: column;
}

#comments-form > textarea {
    background-color: #efefef;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 10px;
}

/* COMMENTAIRES */

#content-commentaires {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #ffffff;
    margin: 0 30px;
}

#content-commentaires:before {
    content: "Tous les commentaires : ";
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.commentaire {
    justify-content: center;
    display: flex;
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
}

/* FORM CONNECTION */

.container-div {
    display: flex;
    justify-content: center;
    width: 85%;
    margin-top: 40px;
    padding: 10px;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.23);
    -webkit-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.23);
    -moz-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.23);
}

#splash-pic {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#form-connection, #form-register {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 40px;
}

#form-auth {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.title-form {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    overflow-wrap: break-word;
}

.sous-titre-form {
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
    color: #a2a2a2 ;
    overflow-wrap: break-word;
}
#form-register > input, #form-connection > input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#form-register > label, #form-connection > label {
    margin-bottom: 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #a2a2a2;
    font-size: 14px;
}

.control {
    display: flex;
    justify-content: center;
}

.control a {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
}
.control a[disabled] {
    pointer-events: none;
    text-decoration: none;
    color: gray;
}

/* PROFIL */

.container-div-profil {
    display: flex;
    justify-content: center;
}

#profil_form {
    display: flex;
    flex-direction: column;
}

#profil_form > label {
    margin-bottom: 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #a2a2a2;
    font-size: 14px;
}

#profil_form > input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#profil_form > textarea {
    margin-bottom: 20px;
}

#submit {
    cursor: pointer;
}

#connexion-ok {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin: 20px;
}
.small {
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    font-size: 10px;
}

    #home_image{
        width:100%;
        position:absolute;
        Z-index:-99;
    }

/* DESKTOP */

@media (min-width: 700px) {
    header {
        width: 100%;
        height: 80px;
        background: #ffffff;
        border-bottom: 1px solid black;
        border-top : 2px solid gray;
    }

    .burger {
        display: none;
    }

    .ul_nav {
        display: none;
    }

    .ul_nav_desktop {
        display: flex;
        list-style: none;
        font-family: 'Nunito', sans-serif;
    }

    .ul_nav_desktop > li {
        margin: 0 10px;
        align-self: center;
    }

    .ul_nav_desktop a {
        text-decoration: none;
        color: black;
    }

    .btn-register, .btn-connection, .btn-deconnection {
        padding: 8px;
        width: 105px;
        margin : 0;
    }

    .btn-deconnection {
        width: 100px;
        border: 1px solid white;
        border-radius: 3px;
        background: black;
        cursor: pointer;
        color: white;
    }
    .btn-deconnection:hover {
        border: 1px solid black;
        background: white;
        color: black;
        transition: 0.3s ease-in;
    }

    .desktop-align {
        display: flex;
        justify-content: start;
    }

    #contenu-unique-article {
       margin: 0 7rem;
    }

    #inscription-button {
        width: 105px;
        border: 1px solid white;
        border-radius: 3px;
        margin: 10px 2Px;
        padding: 8px;
        background: black;
        cursor: pointer;
        color: white;
    }

    #connexion-button {
        width: 105px;
        border: 1px solid black;
        border-radius: 3px;
        margin: 10px 2Px;
        padding: 6px;
        background: white;
        cursor: pointer;
        color: black;
    }

    /* FORM REGISTER & CONNECTION */

    .container-div {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-top: 20px;
    }

    .container-div-profil {
        display: flex;
        justify-content: center;
    }

    #profil_form {
        display: flex;
        flex-direction: column;
    }

    /* BLOG DISPLAY */

    .image-article {
        max-width: 100%;
    }

    .articles {
        margin: 2rem 10rem;
    }

    /* ARTICLE UNIQUE */


    #auteur {
        margin: 10px 7rem;
    }

    #content-commentaires {
        margin: 2rem 7rem;
    }

    #image-article-unique {
        max-width: 1000px;
    }


    #info-unique-article {
        margin: 0 5rem;
    }
    
    /*PAGE INDEX*/

    #home_image{
        height:95%;
    }

}
